<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>3DChan</title>
  <style>
    #renderCanvas {
      width: 100%;
      height: 100%
    }
  </style>
</head>

<body>
  <div>
    <b>3D</b>
    <button id="btnBlock">+ Block</button>
    <button id="btnChar">+ Char</button>
    <button id="btnArt">+ Art</button>
    <button id="btnDel">+ Delete</button>
    <input id="inputURL" placeholder="some url" />
    <button id="btnCam">🎥</button>
  </div>
  <canvas id="renderCanvas" width="1024px" height="780px"></canvas>
</body>

</html>